.list-enter-active,
.list-leave-active {
  transition: all 0.5s;
}

.list-enter-from,
.list-leave-active {
  opacity: 0;
  transform: translateX(20px);
  font-weight: bolder;
}

.list-leave-active {
  position: absolute;
}
